<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @retrospective.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @retrospective.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @retrospective.description %>
</p>

<%= link_to 'Edit', edit_retrospective_path(@retrospective) %> |
<%= link_to 'Back', retrospectives_path %>
