<!DOCTYPE html>
<html>
  <head>
    <title>Wye_RetroApp</title>
    <link rel="shortcut icon" href="/assets/wye-logo.png" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :add_scripts %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class='main'>
    <%= show_header %>
    <%= yield %>
  </body>
</html>
